:root {
    font-size: 16px;
    padding: 0;
}

body {
    background-color: #242424;
    width: 100vw;
    padding: 0 5%;
}

button {
    background-color: #242424;
    padding: 15px;
    border: 2px #fff solid;
    margin-top: 1rem;
}

.back-btn {
    margin: 5px 5px;
    color: #fff;
    font-size: 2rem;
}

h1 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 0;
}

h3 {
    color: #fff;
    font-size: 2rem;
}

.plata {
    color: orange;
    font-size: 3rem;
}

hr {
    width: 35%;
}

p, li {
    color: #fff;
}

p {
    width: 80%;
    margin-bottom: 1rem;
}

ul {
    margin: 0 1rem;
    list-style-type: disc;
    margin-bottom: 1rem;
}

.destacado {
    color: greenyellow;
}

.horario {
    color: tomato;
}

iframe {
    width: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contacto img {
    width: 75px;
}

.contacto p {
    margin: 0;
}

@media screen and (min-width: 992px) {
    * {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .back-btn {
        font-size: 3rem;
    }

    button {
        display: block;
    }

    h1 {
        font-size: 7rem;
        font-weight: 300;
    }

    h3, .plata {
        display: inline-block;
        width: 40%;
        font-size: 5rem;
    }

    p, .destacado, .horario, ul {
        font-size: 3rem;
    }

    iframe {
        width: 50vw;
        height: 50vh;
    }

    .contacto img {
        width: 90px;
    }
}